:root {
    --gutter: 15px;
    --color-text: #000000;
    --coral: #EC7979;
    --grey: #86878B;
    --mobile-padding: 16px;
    --content-width: 1170px;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    color: var(--color-text);
    font-size: 18px;
    line-height: 1.4;
}



.container {
    max-width: calc(var(--content-width) + var(--mobile-padding));
    margin: 0 auto;
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--gutter) * -1);
}

.col-4 {
    width: calc(100% / 12 * 4 - var(--gutter) * 2);
    margin-left: var(--gutter);
    margin-right: var(--gutter);
}

.col-6 {
    width: calc(100% / 12 * 6 - var(--gutter) * 2);
    margin-left: var(--gutter);
    margin-right: var(--gutter);
}

.col-7 {
    width: calc(100% / 12 * 7 - var(--gutter) * 2);
    margin-left: var(--gutter);
    margin-right: var(--gutter);
}

.col-5 {
    width: calc(100% / 12 * 5 - var(--gutter) * 2);
    margin-left: var(--gutter);
    margin-right: var(--gutter);
}

.col-12 {
    margin: 0 (var(--gutter) * -1);
    width: calc(100% / 12 * 12 - var(--gutter) * 2);

}

@media screen and (max-width: 768px) {
    .col-md-12 {
        margin: 0 (var(--gutter) * -1);
        width: calc(100% / 12 * 12 - var(--gutter) * 2);
    }
}

.prime-btn {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
    color: inherit;
    padding: 20px 0;
    border: none;
    text-decoration: none;
    background: var(--coral);
    /* width: 100%; */
    color: #ffffff;
}

@media screen and (max-width:1200px) {
    .prime-btn {
        padding: 20px 50px;
    }
}

.prime-btn:hover {
    background: #AB4949;

}

.outlined-btn {
    display: inline-block;
    padding: 17px 0;
    background: transparent;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4px;
    text-align: center;
    text-transform: capitalize;
    border: 2px solid #FFFFFF;
    color: #ffffff;
    cursor: pointer;
    /* background: none; */
}

@media screen and (max-width:1200px) {
    .outlined-btn {
        padding: 13px 0;
    }
}

@media screen and (max-width:768px) {
    .outlined-btn {
        padding: 10px 0;
    }
}

.outlined-btn:hover {
    border-color: #EC7979;
    color: #EC7979;

}
.section-head {
    margin-bottom: 66px;
}
@media screen and (max-width:1200px) {
    .section-head {
        margin-bottom: 30px;
    }
}

.section-head__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}

@media screen and (max-width:1200px) {
    .section-head__title {
        font-size: 24px;
        padding-top: 10px;
    }
}


.section-head__title::after {
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    background-color: var(--coral);
    margin: 40px auto;
}

@media screen and (max-width:1200px) {
    .section-head__title::after {
        margin: 20px auto;
    }
}

.section-head__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: var(--grey);
}

@media screen and (max-width:1200px) {
    .section-head__text {
        font-size: 14px;
    }
}

.form {
    background: #ffffff;
    border-radius: 10px 10px 10px 10px;
}

.form-group {
    background: #fff;
    border-radius: 10px 10px 10px 10px;

}

.form-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 45px;
}

@media screen and (max-width:1200px) {
    .form-title {
        font-size: 18px;
        line-height: 25px;
        padding-top: 10px;
        padding-bottom: 25px;
    }
}

span {
    color: var(--coral);
}

.form-items {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}

@media screen and (max-width:1200px) {
    .form-items {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 15px;
    }
}

.form-items:last-child {
    /* margin-bottom: 85px; */
}

.form-input {
    width: 100%;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #BDBDBD;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    padding-top: 25px;
    padding-bottom: 16px;

}

.promo__forms-btn {
    width: 100%;
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 3;
    background: #000000;
}

.header_has-bg {
    background: rgb(14, 14, 14);
}

.header__inner {
    display: flex;
    justify-content: space-between;
}


.header__nav {
    align-self: center;
}

.header__menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.header__menu-item {
    margin-right: 40px;
    padding: 10px 0;
    position: relative;

}

.header__submenu-item {
    /* margin-right: 40px; */
    padding: 20px 0;
    position: relative;
}

.header__submenu-sub-item {
    /* margin-right: 40px; */
    padding: 20px 0;
    position: relative;
}

.header__submenu-item .header__submenu-sub-item {
    position: relative;
    padding: 5px;
}

.header__menu-item_has-child:hover>.header__submenu {
    display: block;
}

.header__menu-item_has-child:hover>.header__submenu-sub {
    display: block;
}

.header__menu-item_active .header__menu-link {
    color: var(--coral);
    position: relative;
}

.header__menu-item_active .header__menu-link::after {
    content: "";
    position: absolute;
    background: currentColor;
    width: 150%;
    height: 1px;
    /* left: 0; */
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.header__menu-link {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;

}

.header__submenu {
    display: none;
    position: absolute;
    background: #333333;
    top: 100%;
    width: 150px;
    padding-left: 25px;
    border: 1px solid var(--coral);
    /* padding: 10px; */
}

.header__submenu-sub {
    display: none;
    position: absolute;
    background: rgb(246, 246, 242);
    top: 0%;
    padding: 2px;
    width: 120px;
    left: 100%;
    border: 1px solid var(--coral);
    background: #333333;
}


.header__submenu-item {
    padding: 10px;
}


.header__submenu-link {
    color: #fff;
    text-decoration: none;
}

.header__submenu-link:hover {
    color: var(--coral);
}

.header__submenu-link:hover {
    opacity: 0.8;
}

.header__menu-link:hover {
    color: var(--coral);
}


/* promo */
.promo {

    background-image: url(/assets/img/header/imageback.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

.promo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../assets/img/bg.png");
    z-index: -1;
}


@media screen and (max-width:768px) {
    .promo__logo {
      margin-left: var(--gutter);
      padding-bottom: 56px;

    }
}
@media screen and (max-width:1200px) {
    .promo__logo-img {
        width: 69px;
        height: 41px;

    }
}

@media screen and (max-width:560px) {
    .promo__logo-img {
        display: none;

    }
}

.promo__inner {
    padding-top: 208px;
    padding-bottom: 106px;
}

.promo__title {
    font-family: 'Open Sans';
    color: #fff;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.4;
    text-transform: uppercase;
    padding-top: 20px;
    margin-bottom: 40px;

}

@media screen and (max-width:1200px) {
    .promo__title {
        font-size: 36px;
        line-height: 42px;
        margin-top: 54px;
    }
}
@media screen and (max-width: 768px) {
    .promo__title {
       text-align: center;
    }
}

.promo__title::after {
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    background-color: #FFFFFF;
    margin: 40px 0px 20px 0px;
}
@media screen and (max-width: 768px) {
    .promo__title::after {
       text-align: center;
       margin-left: 93px;
    }
}


.promo__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 42px;
    color: #FFFFFF;
}

@media screen and (max-width:1200px) {
    .promo__subtitle {
        font-size: 14px;
        margin-bottom: 31px;

    }
}
@media screen and (max-width: 768px) {
    .promo__subtitle {
        text-align: center;

    }
}
@media screen and (max-width:768px) {
    .promo__btn-wrap {
      display: flex;
      justify-content: center;
    }
}
.promo__btn {
    padding: 25px 52px;
}

@media screen and (max-width:1200px) {
    .promo__btn {
        padding: 25px 25px;
        min-width: 183px;
        text-decoration: none;
    }
}

.promo__form-wrapper {
    align-self: flex-start;
}
@media screen and (max-width:1200px) {
    .promo__form-wrapper {
       margin-left: var(--gutter);
    }
}

.promo__forms-btn {
    margin-top: 35px;
    border-radius: 0px 0px 10px 10px;
}

/* modalka */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    /* background-color: #86878B; */
    margin: 10% 20%;
    padding: 20px;
    /* border: 1px solid #333333; */
    widows: 10%;
}

.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal__form-btn {
    width: 100%;
    padding: 20px 0;
}



/* sectiom MEDIA */

.media {
    background: #F8EFEF;
    padding: 18px 0;
}

@media screen and (max-width:1200px) {
    .media {
        padding: 10px 0;
    }
}

@media screen and (max-width: 768px) {
    .media {
        padding: 30px 0;
    }
}

.media__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #333333;
    margin-bottom: 25px;
}

@media screen and (max-width:1200px) {
    .media__title {
        font-size: 18px;
        margin-bottom: 13px;
    }
}

@media screen and (max-width:768px) {
    .media__title {
        text-align: center;
    }
}

@media screen and (max-width:560px) {
    .media__title {
        text-align: center;
    }
}

.media__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

@media screen and (max-width:1200px) {
    .media__text {
        font-size: 14px;
        line-height: 14px;
    }
}

@media screen and (max-width:768px) {
    .media__text {
        text-align: center;
    }
}

@media screen and (max-width:560px) {
    .media__text {
        text-align: center;
    }
}

.media__icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


@media screen and (max-width:1200px) {
    .media__icon-logo {
        height: 50px;
    }
}

@media screen and (max-width:768px) {
    .media__icon-logo {
        margin-top: 35px;
        /* padding-top: 10px; */
        height: 33px;
        width: 33px;
    }
}

@media screen and (max-width:560px) {
    .media__icon-logo {
        margin-top: 35px;
        /* padding-top: 10px; */
        height: 23px;
        width: 23px;
    }
}

/* Tabs */
.tabs {
    margin-top: 109px;
    /* position: relative; */
}

.tabs__link {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    max-width: 150px;
    border: none;
    background: none;
    width: 20%;
    cursor: pointer;
    margin-bottom: -1px;

}

@media screen and (max-width: 560px) {
    .tabs__link {
        width: 15%;
    }
}

.tabs__link_active {
    padding: 10px 0;
    border: 1px solid #c6cbcd;
    border-bottom: 1px solid white;
    order: 1;
    border-radius: 5px 5px 0px 0px;


}

.tabs__content {
    display: none;
    border: 1px solid #C6CBCD;
}

.tabs__info {
    padding-left: 100px;
}
@media screen and (max-width: 768px) {
    .tabs__info {
    padding-left: 17px;
      align-self: center;
    }
}
.tabs__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    padding-bottom: 55px;
    padding-top: 40px;
}

@media screen and (max-width:1200px) {
    .tabs__title {
        font-size: 24px;
        line-height: 33px;
    }
}

@media screen and (max-width: 768px) {
    .tabs__title {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
    }
}


.tabs__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 37px;

}

@media screen and (max-width:1200px) {
    .tabs__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 768px) {
    .tabs__subtitle {
        font-size: 13px;
        line-height: 15px;
        text-align: center;
    }
}
.tabs__btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

}
.tabs__btn {
    padding: 22px 100px;
    margin: 0 auto;
}

@media screen and (max-width:1200px) {
    .tabs__btn {
        font-size: 18px;
        line-height: 25px;
    }
}
@media screen and (max-width: 768px) {
    .tabs__btn {
        padding: 15px 50px; 
        margin: 0 auto;
    }
}

.tabs__image-wrap {
    display: block;
}
@media screen and (max-width: 768px) {
     .tabs__image-wrap{
        display: none;
    }
}

.tabs__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    display: block;
}


/* INFO */

.info {
    padding-top: 25px;
    padding-bottom: 60px;
}



@media screen and (max-width:768px) {
    .info__item {
        padding-bottom: 20px;
    }
}
.info__item-icon {
    border-radius: 50%;
    border: 1px solid var(--coral);
    width: 92px;
    height: 92px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

@media screen and (max-width:1200px) {
    .info__item-icon {
        width: 79px;
        height: 79px;
    }
}

.info__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: var(--color-text);
    margin-bottom: 38px;
    text-align: center;
    margin-top: 39px;
}

@media screen and (max-width:1200px) {
    .info__item-title {
        font-size: 18px;
        line-height: 25px;
        margin-top: 33px;
        margin-bottom: 20px;
    }
}

.info__item-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-text);
    text-align: center;
}

@media screen and (max-width:1200px) {
    .info__item-text {
        font-size: 14px;
        line-height: 16px;
    }
}

/* PRICING */
.pricing {
    background: #F5F5F5;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .pricing__card {
        margin-bottom: 15px;
        margin-left: var(--gutter);
        
    }
}
.pricing__card_top {
    transform: translateY(-20px);
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
@media screen and (max-width: 768px) {
    .pricing__card_top {
        transform: translate(0);
        
    }
}
.pricing__name {
    background: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 13px 0;
}

@media screen and (max-width:1200px) {
    .pricing__name {
        padding: 10px 0;
    }
}

.pricing__price {
    background: #333333;
    border: 2px solid #F5F5F5;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding: 29px 0;
}

@media screen and (max-width:1200px) {
    .pricing__price {
        padding: 20px 0;
    }
}

.pricing__desck {
    background: #333333;
    border: 2px solid #F5F5F5;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding: 12px 0;
}

@media screen and (max-width:1200px) {
    .pricing__price {
        padding: 9px 0;
    }
}

.pricing__item-info {
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
    color: var(--grey);
    padding: 12px 0;
}

@media screen and (max-width:1200px) {
    .pricing__item-info {
        padding: 9px 0;
    }
}

/* CUSTOMERS */
.customers {
    margin-top: 50px;
    margin-bottom: 60px;
}

@media screen and (max-width:1200px) {
    .customers__card {
        margin-left: var(--gutter);
        margin-bottom: 10px;
    }
}

.customers__text-info {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    padding: 38px;
    background: #E2E2E2;
    border-radius: 10px;
    margin-bottom: 66px;
    position: relative;
}

@media screen and (max-width:1200px) {
    .customers__text-info {
        font-size: 14px;
        padding: 28px;
    }
}
@media screen and (max-width:1200px) {
    .customers__text-info {
        font-size: 14px;
        padding: 28px;
        margin-bottom: 33px;
    }
}

.customers__text-info::before {
    content: "";
    position: absolute;
    top: 100%;
    border: 20px solid transparent;
    border-top: 20px solid #E2E2E2;
}

.customers__text-item {
    display: flex;
}

.customers__desk {
    margin-left: 30px;
    text-align: left;
    position: relative;
}

.customers__name {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 20px;
}

@media screen and (max-width:1200px) {
    .customers__name {
        font-size: 18px;
    }
}

.customers__work {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: left;
}

@media screen and (max-width:1200px) {
    .customers__work {
        font-size: 14px;
    }
}

.customers__icon {
    border-radius: 50%;
}

@media screen and (max-width:1200px) {
    .customers__icon {
        width: 63px;
        height: 63px;
    }
}

/* PROMO */

.stylish {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-image: url("/assets/img/image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}

.stylysh::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./assets/img/bg.png");
    z-index: -1;
}

.section-head_light .section-head__title {
    color: rgb(255, 255, 255);
}

.section-head_light .section-head__title::after {
    background-color: #ffffff;
}

.section-head_light .section-head__text {
    color: rgb(255, 255, 255);
}

.stylish__link {
    margin-top: 73px;
    padding: 22px 120px;
    /* margin-bottom: 50px; */
}
@media screen and (max-width:1200px) {
    .stylish__link {
       padding: 20px 90px;
    }
}

/* CONTACT-US */
.contact-us {
    padding-top: 80px;
    padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
    .contact-us {
       padding-top: 40px;
    }
}
.contact__row {
    padding-top: 25px;
}

.contact-us__card {
    margin-bottom: 50px;
    max-width: 100%;
}
@media screen and (max-width: 768px) {
    .contact-us__card {
       margin-left: var(--gutter);
    }
}
.contact-us__card-info {
    display: flex;
    flex-direction: column;
    max-width: 100%;

}

.contact-us__card-item:first-child {
    padding-top: 0;
}

.contact-us__card-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #BDBDBD;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 100%;

}

.contact-us__card-message {}

.contact-us__send {
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */

}

.contact-us__btn {
    padding: 22px 120px;
    /* margin: 0 auto; */

}
@media screen and (max-width: 768px) {
    .contact-us__btn {
       padding: 20px 90px;
    }
}


/* FOOTER */

.footer {
    background: #000000;
}

.footer__icon {
    display: flex;
    justify-content: center;
    margin: 0 calc(var(--gutter) * -1);
}

.footer__icon-logo-item {
    margin-top: 40px;
    margin-bottom: 33px;
    width: calc(100% / 12 * 6 - var(--gutter) * 2);
    text-align: center;
}


.svg path:hover {
    fill: #EC7979
}
@media screen and (max-width: 768px) {
    .svg {
       height: 17px;
       width: 17px;
    }
}
.footer__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;

}
@media screen and (max-width: 768px) {
    .footer__text {
        font-size: 14px;
        line-height: 16px
    }
}