* {
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1.4;
}

.container {
    max-width: 1202px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    height: 442px;
}

.media {
    background: #F8EFEF;
}

.media__body {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    height: 140px;
    justify-content: center;
    align-items: center;
}

.media__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    /* display: flex; */
    align-items: center;
    text-transform: capitalize;
    color: #333333;
    margin-bottom: 25px;
}

.media__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #86878B;
}

.media__icon {
    display: flex;
    margin-left: 40px;

}

.media__icon-item {
justify-content: space-around;
margin: 0 20px;
}

.media__icon-logo {
    justify-content: space-around;
}

.info__body {
    max-width: 1170px;
    margin: 0px auto;
}

.info__header {
    margin-bottom: 110px;
}

.info__title {
    margin-top: 57px;
    margin-bottom: px;
}

.title {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    color: #000000;
    position: relative;
    text-align: center;
}

.title::after {
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    background-color: #000000;
    margin: 40px auto;
}

.info__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;
}

.about__row {
    display: flex;
}

.about__column {
    flex: 33%;
    font-size: 0;
}

.item-info__icon {
    border-radius: 50%;
    border: 1px solid #EC7979;
    width: 92px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 39px;
    margin-left: 150px;
}
.item-info__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 38px;
    text-align: center;
}

.item-info__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: center;
}

.body {
    margin-top: 50px;
}

.body__info {
    max-width: 1171px;
    margin: 0px auto;
    margin-top: 50px;
}

.body__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 40px;
    position: relative;
}

.body__title::after {
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    background-color: #000000;
    margin: 40px auto;
}

.body__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    position: relative;
    text-align: center;
    color: #86878B;
    margin-bottom: 80px;
}

.body__row {
    display: flex;
    margin: 25px -15px;
}

.body__text-info {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin: 15px;
    padding: 38px;
    background: #E2E2E2;
    border-radius: 10px;
    width: 370px;
    height: 180px;
}

.body__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 64px;
}

.body__content-info {
    width: 370px;
}

.body__img {
    display: inline-flex;
}

.body__name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: inline-flex;
    text-transform: capitalize;
    color: #000000;
}

.body__work {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-left: 100px;
}

.promo {
    padding-top: 50px;
    padding-bottom: 50px;
    /* min-height: 100vh; */
    text-align: center;
    /* background: rgba(0, 0, 0, 0.5); */
    background-image: url("./img/image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.promo-title {
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
    align-items: center;
    text-transform: uppercase;
    padding-top: 75px;
}

.promo-title::after {
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    background-color: #FFFFFF;
    margin: 75px auto;
}

.promo-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: -35px;
    margin-bottom: 73px;
    text-align: center;
}

.promo-link {
    display: inline-block;
    min-width: 370px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: inherit;
    padding: 29px 140px;
    border: 2px solid #FFFFFF;
}