* {
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1.4;
}

:root {
    --gutter: 16px;
}

.container {
    max-width: 1171px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    /* height: 442px; */
}

.media {
    background: #F8EFEF;
    padding: 18px 0 ;
}

.media__body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.media__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    text-transform: capitalize;
    color: #333333;
    margin-bottom: 25px;
}

.media__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #86878B;
}

.media__icon {
    display: flex;
    margin-left: 40px;

}

.media__icon-item {
justify-content: space-around;
margin: 0 20px;
}

.media__icon-logo {
    justify-content: space-around;
}
.info {
    padding-top: 50px;
    padding-bottom: 60px;
}

.section-head {
    margin-bottom: 66px;
}

.section-head__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    color: #000000;
    position: relative;
    text-align: center;
    /* padding: 45px; */
    padding-top: 20px;
    text-transform: uppercase;
}

.section-head__title::after {
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin: 40px auto;
}

.section-head__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;
    
}

.about__row {
    display: flex;
}

.about__column {
    flex: 33%;
    font-size: 0;
}

.item-info__icon {
    border-radius: 50%;
    border: 1px solid #EC7979;
    width: 92px;
    height: 92px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0 auto;
}


.item-info__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 38px;
    text-align: center;
    margin-top: 39px;
}

.item-info__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: center;
}

.body {
    margin-top: 50px;
    margin-bottom: 60px;
}

.body__row {
    display: flex;
    margin: 0  calc(var(--gutter) * -1);
}

.body__text-info {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    padding: 38px;
    background: #E2E2E2;
    border-radius: 10px;
    margin-bottom: 66px;
}

.body__column {
    width: calc(100% / 3 - var(--gutter) * 2);
    margin-left: 16px;
    margin-right: 16px;
}
.body__text-item {
    display: flex;
}
.body__desk {
    margin-left: 30px;
    text-align: left;
    position: relative;
}

.body__name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 20px;
}

.body__work {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: left;
}
.body__icon {
    margin-left: 15px;
}

.promo {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-image: url("./img/image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 3;
}
.promo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/img/bg.png");  
    z-index: -1;
} 
.section-head_light .section-head__title {
color: rgb(255, 255, 255);
}
.section-head_light .section-head__title::after {
    background-color: #ffffff;
}
.section-head_light .section-head__text {
    color: rgb(255, 255, 255);
}

.promo-link {
    display: inline-block;
    min-width: 370px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: inherit;
    padding: 20px 100px;
    border: 2px solid #FFFFFF;
    text-decoration: none;
}

.contact-us__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--gutter) * -1);
    margin-bottom: 50px;
}

.contact-us__card-column {
    width:  calc(50% - var(--gutter) * 2);
    margin-left: var(--gutter);
    margin-right: var(--gutter);
    margin-bottom: 50px;
}

.contact-us__card-info {
    display: flex;
    flex-direction: column;
    
}
.contact-us__card-item {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #BDBDBD;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 40px;
    height: 45px;
}

.contact-us__card-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #BDBDBD;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}
.contact-us__send {
    display: flex;
    justify-content: center;
    margin: 0 auto;

}
.contact-us__send-link {
    font-family: 'Open Sans';  
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-align: center; 
    text-transform: capitalize;
    display: inline-block;
    min-width: 370px;
    color: inherit;
    padding: 20px 100px;
    border: 2px solid #FFFFFF;
    text-decoration: none;
    background: #EC7979;
    margin-bottom: 50px;
}

.footer {
    background: #000000; 
}

.footer__icon {
    display: flex;
    justify-content: center;
    margin: 0  calc(var(--gutter) * -1);
}

.footer__icon-logo-item {
    margin-top: 40px;
    margin-bottom: 33px;
    width: calc(100% / 12 * 6 - var(--gutter) * 2);
    text-align: center;
}

.footer__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
    
}